<form #f="ngForm" (ngSubmit)="registration(f)">
  <div class="form-row form-group">
    <div class="col">
      <label for="lastname">Фамилия</label>
      <input type="text" [(ngModel)]="user.lastname" id="lastname" name="lastname" #lastName="ngModel"
             class="form-control" placeholder="Фамилия" required minlength="4" tmFocus />
      <div *ngIf="lastName.invalid && lastName.dirty" class="alert alert-danger">

        <div *ngIf="lastName.errors.required">
          Фамилия обязательное поле
        </div>
        <div *ngIf="lastName.errors.minlength">
          Фамилия должена содержать минимум 4 символа
        </div>
      </div>
    </div>
    <div class="col">
      <label for="name">Имя</label>
      <input type="text" [(ngModel)]="user.name" id="name" name="name" #name="ngModel"
             class="form-control" placeholder="Имя" required/>
      <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Имя обязательное поле
        </div>
      </div>
    </div>
    <div class="col">
      <label for="patronymic">Отчество</label>
      <input type="text" [(ngModel)]="user.patronymic" id="patronymic" name="patronymic" class="form-control" placeholder="Отчество" />
    </div>
  </div>
  <div class="form-row form-group ">
    <div class="col">
      <label for="birthDate">Дата рождения</label>
      <input type="date" [(ngModel)]="user.birthDate" id="birthDate" name="birthDate" #birthDate="ngModel"
             class="form-control" placeholder="Дата рождения" required />
      <div *ngIf="birthDate.invalid && birthDate.dirty" class="alert alert-danger">
        <div *ngIf="birthDate.errors.required">
          Дата рождения обязательное поле
        </div>
      </div>
    </div>
    <div class="col">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="user.email" id="email" name="email" #email="ngModel"
             class="form-control" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
      <div *ngIf="email.invalid && email.dirty" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email обязательное поле
        </div>
        <div *ngIf="email.errors.pattern">
          Email указан неверно
        </div>
      </div>
    </div>
  </div>
  <div class="form-row form-group ">
    <div class="col">
      <label for="password">Пароль</label>
      <input type="password" [(ngModel)]="user.password" id="password" name="password" #password="ngModel"
             class="form-control" placeholder="Пароль" required minlength="6"/>
      <div *ngIf="password.invalid && password.dirty" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Пароль обязательное поле
        </div>
        <div *ngIf="password.errors.minlength">
          Пароль должен содержать минимум 6 символов
        </div>
      </div>
    </div>
    <div class="col">
      <label for="confirmPassword">Повторите пароль</label>
      <input type="password" [(ngModel)]="user.confirmPassword" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" class="form-control"
             placeholder="Повторите пароль" required confirmEqualValidator="password"/>
      <div *ngIf="confirmPassword.invalid && confirmPassword.dirty" class="alert alert-danger">
        <div *ngIf="confirmPassword.errors.required">
          Поле обязательно для заполнения
        </div>
        <div *ngIf="confirmPassword.errors.notEqual">
          Пароли не совпадают
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit"  [disabled]="f.form.invalid" class="btn btn-primary">Зарегистироваться</button>
    </div>
  </div>
</form>
