
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" (click)='collapse()'>
        <span class='glyphicon glyphicon-home'></span> Home
      </a>
      <a class="nav-item nav-link" routerLink="/counter" (click)='collapse()'>
        <span class='glyphicon glyphicon-education'></span> Counter
      </a>
      <a class="nav-item nav-link" routerLink="/fetch-data" (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Fetch data
      </a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">

      <a *ngIf="!isLoggin" class="nav-item nav-link" routerLink="/login">
        <span class='glyphicon glyphicon-th-list'></span> Login
      </a>
      <a *ngIf="isLoggin" class="nav-item nav-link" routerLink="/login">
        {{userName}}
      </a>
      <span class="nav-item nav-link">/</span>
      <a *ngIf="isLoggin" class="nav-item nav-link" (click)="logout()">
        Выйти
      </a>
    </div>
  </div>
</nav>
